.header{
    width: 100%;
    height:10vh;
    background-color:#f8f3e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     padding-top: 3rem;
}
@supports(position: sticky){
.header{
    position: sticky;
    top: 0;
}
}
.royal{
color: #74070e;
position: relative;
bottom: 2.5rem;
font-family: 'Cinzel', serif;
  font-weight: 900; /* the strongest, most "royalty" */
  font-size: 3rem;
  letter-spacing: 2px;

}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
   50% { transform: translatey(2px); }
  75% { transform: translatey(-2px); }
}

.cart{
    width: 1.5rem;
    height: 1.5rem;
padding-bottom: 2.5rem;
padding-left: 2rem;
padding-right: 4rem;
position: relative;
right: 5rem;
border-radius: 0.7rem;
  background-color:#eed3b7 ;  
   font-family: "Bodoni Moda", serif;
   font-weight: 100;
}
.container{
    background-color: #f8f3e8;
}
.images{

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.items{
    display: flex;
    flex-direction: row;
    overflow-x: auto;        /* enables horizontal scroll */
  padding-bottom:0.25rem;
  scrollbar-width: thin;
  gap: 0.7rem;
}
.itemn{
    min-width: 120px;
    width: 25vw;
    height: 50vh;
    
    
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px; /* optional, for a softer look */
  transition: transform 0.3s ease, box-shadow 0.3s ease;


}
.itemn:hover {
  animation: shake 0.3s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25), 0 0 15px rgba(196, 9, 14, 0.2);
}

.buy{
    background-color:#e9dcd6;
    border-radius: 0.25rem;
}
.buy:hover{
    background-color:#8e0a16;
}
.price{
    
    height: 2.5rem;
    border-radius: 0.7rem;
    padding: 0 0.5rem;
font-size: 2rem;
  font-family: "Bodoni Moda", serif;
  font-weight: 500; /* strong luxury look */
  font-size: 2rem;
  letter-spacing: 1px;
}
.pay{
  font-family: "Bodoni Moda", serif; 
}
.pay:hover{
  background-color: aqua;
}